@tailwind base;
@tailwind components;
@tailwind utilities;

article {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.info {
  padding: 1rem;
}

#holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* section {
  margin: 1.563rem;
} */

@media (min-width: 600px) {
  #holder {
    grid-template-columns: repeat(3, 1fr);
  }
}
