@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "sans-serif";
  background-image: linear-gradient(#82425f, #d07f4e, #869c4c);
  height: 100vh;
}

main {
  margin: 3.75rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.25rem;
}
p,
a {
  font-size: 0.938rem;
}

/* Desktop */
@media (min-width: 450px) {
  h1 {
    font-size: 3.125rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.875;
  }
  p,
  a {
    font-size: 1.25rem;
  }

  main {
    margin: 1.563rem;
  }
}
